<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
    <script>
      function refreshFeed(feedId) {
        fetch(`/feed/${feedId}/refresh`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              location.reload();
            } else {
              console.error("Refresh failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </head>
  <body>
    {{template "nav" .}}
    <h1>{{.Headline}}</h1>
    {{if .DisplayRefresh}}
    <div class="updatefeed-container">
      <button class="refresh-button" onclick="refreshFeed({{.FeedID}});">
        (+refresh)
      </button>
      {{if .DisplayCheckbox}}
      <form method="POST" action="/feed/{{.FeedID}}/update" class="form-container">
        <input type="submit" class="update-button" value="(+update)" />
        <label for="hide_unread"> hide-unread</label>
        <input type="checkbox" id="hide_unread" name="hide_unread" value="true" {{if eq .CheckboxValues.hide_unread "true"}}checked{{end}} />
        <label for="enable_readability"> enable-readability</label>
        <input type="checkbox" id="enable_readability" name="enable_readability" value="true" {{if eq .CheckboxValues.enable_readability "true"}}checked{{end}} />
        <label for="highlight"> highlight</label>
        <input type="checkbox" id="highlight" name="highlight" value="true" {{if eq .CheckboxValues.highlight "true"}}checked{{end}} />
      </form>
      {{end}}
    </div>
    <span class="refresh-info">Fetched at: {{timeformat .LastFetchedAt}}</span>
    <hr />
    {{else}}
    <hr />
    {{end}}
    {{ $HideCreateBy := .HideCreateBy }}
    {{ $DisplayCheckbox := .DisplayCheckbox }}
    {{range $idx, $article := .Articles}}
    {{if or $DisplayCheckbox (not (getFeedHideUnread $article.FeedID))}}
    <div class="article-item">
      <a href="/article/{{$article.Uid}}" class="article-link" target="_blank">
        {{if getFeedHighlight $article.FeedID}}⭐{{end}}{{$article.Title}}
      </a>
      {{if $HideCreateBy}}
      <span class="article-info">(at: {{timeformat $article.PublishAt}})</span>
      {{else}}
      <span>(by: </span><a class="article-feed" href="/feed/{{$article.FeedID}}" target="_blank">{{$article.Name}}</a>,
      <span class="article-info">at: {{timeformat $article.PublishAt}})</span>
      {{end}}
      {{if displayContentRead $article.Content}}
      <a href="/article/{{$article.Uid}}/read" target="_blank" class="article-action-read">(+r)</a>
      {{end}}
      {{if enableReadabilityButton $article.FeedID}}
      <a href="https://read.5s.wtf/read/https://r.jina.ai/{{$article.Link}}?md=true&nocache=true" target="_blank" class="article-action-read">(+r5)</a>
      {{end}}
      <a href="/article/{{$article.Uid}}/delete" class="article-action-delete">(-d)</a>
    </div>
    {{end}}
    {{end}}
  </body>
</html>
