<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
    <script>
      function refreshFeed(feedId) {
        fetch(`/feed/${feedId}/refresh`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              location.reload();
            } else {
              console.error("Refresh failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/feed">Feeds</a>
    </div>
    <h1>{{.Headline}}</h1>
    {{if .DisplayRefresh}}
    <button class="refresh-button" onclick="refreshFeed({{.FeedID}});">
      (+refresh)
    </button>
    <span class="refresh-info">Fetched at: {{timeformat .LastFetchedAt}}</span>
    <hr />
    {{else}}
    <hr />
    {{end}}
    {{range $idx, $article := .Articles}}
    <div class="article-item">
      <a href="/article/{{$article.Uid}}" class="article-link">{{$article.Title}}</a>
      <span>(by: </span><a class="article-feed" href="/feed/{{$article.FeedID}}">{{$article.Name}}</a>,
      <span class="article-info">at: {{timeformat $article.PublishAt}})</span>
      {{if displayContentRead $article.Content}}
      <a href="/article/{{$article.Uid}}/read">(+read)</a>
      {{end}}
    </div>
    {{end}}
  </body>
</html>
