<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
    <script>
      function refreshFeed(feedId) {
        fetch(`/feed/${feedId}/refresh`, {
          method: "POST",
        })
          .then((response) => {
            if (response.ok) {
              location.reload();
            } else {
              console.error("Refresh failed");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/feed">Feeds</a>
      <a href="/stream">Stream</a>
    </div>
    <h1>{{.Headline}}</h1>
    {{if .DisplayRefresh}}
    <div class="updatefeed-container">
      <button class="refresh-button" onclick="refreshFeed({{.FeedID}});">
        (+refresh)
      </button>
      {{if .DisplayCheckbox}}
      <form method="POST" action="/feed/{{.FeedID}}/update" class="form-container">
        <input type="submit" class="update-button" value="(+update)" />
        <label for="hide_unread"> hide-unread</label>
        <input type="checkbox" id="hide_unread" name="hide_unread" value="true" {{if eq .CheckboxValues.hide_unread "true"}}checked{{end}} />
      </form>
      {{end}}
    </div>
    <span class="refresh-info">Fetched at: {{timeformat .LastFetchedAt}}</span>
    <hr />
    {{else}}
    <hr />
    {{end}}
    {{ $HideCreateBy := .HideCreateBy }}
    {{range $idx, $article := .Articles}}
    <div class="article-item">
      <a href="/article/{{$article.Uid}}" class="article-link" target="_blank">{{$article.Title}}</a>
      {{if $HideCreateBy}}
      <span class="article-info">(at: {{timeformat $article.PublishAt}})</span>
      {{else}}
      <span>(by: </span><a class="article-feed" href="/feed/{{$article.FeedID}}" target="_blank">{{$article.Name}}</a>,
      <span class="article-info">at: {{timeformat $article.PublishAt}})</span>
      {{end}}
      {{if displayContentRead $article.Content}}
      <a href="/article/{{$article.Uid}}/read" target="_blank">(+read)</a>
      {{end}}
    </div>
    {{end}}
  </body>
</html>
