<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/feed">Feeds</a>
    </div>
    <h1>Feeds</h1>
    <form method="POST" action="/feed/add" class="form-container">
      <label for="url">Enter Feed URL:</label>
      <input type="text" id="url" name="url" required />
      <input type="submit" value="Add Feed" />
    </form>
    <hr />
    {{range $idx, $feed := .Feeds}}
    <div class="feed-item">
      <a href="/feed/{{$feed.ID}}" class="feed-title">{{$feed.Title}}</a>
      <div class="feed-url">
        <span>{{$feed.URL}}</span>
        <form method="POST" action="/feed/delete/{{$feed.ID}}" style="display: inline;">
          <button type="submit" class="delete-button">(-)</button>
        </form>
      </div>
    </div>
    {{end}}
  </body>
</html>
